:root {
  /* font-size */
  --font-size-large: 24px;
  --font-size-medium: 20px;
  --font-size-small: 16px;
  --font-size-micro: 14px;

  /* font-color */
  --font-color-black: #1d1d1d;
  --font-color-transparent-black: #00000033;
  --font-color-transparent-grey: #2222221c;
  --font-color-grey: #6b6b6b;
  --font-color-light-grey: #d6d5d5;
  --font-color-white: #ffffff;
  --font-color-yellow: #f5d042;
  --font-color-green: #02343f;

  /* padding */
  --padding-upDown: 20px;
  --padding-side: 10px;
}

* {
  font-family: 'Oswald', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}

/* navBarAndTopInfo */
#navBarAndTopInfo {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
#navBarAndTopInfo .topInfo {
  display: flex;
  padding: 0 5%;
  border-bottom: 1px solid var(--font-color-black);
}

#navBarAndTopInfo .topInfo .infos {
  display: flex;
  width: 80%;
  font-size: var(--font-size-micro);
}

#navBarAndTopInfo .topInfo .infos li {
  padding: 0 var(--padding-side);
}

#navBarAndTopInfo .topInfo .myBasket {
  position: absolute;
  right: calc(var(--padding-side) * 1.5);
  top: calc(var(--padding-side) * 1.5);
  font-size: var(--font-size-micro);
}

#navBarAndTopInfo .topInfo .myBasket .numOfProd {
  position: absolute;
  top: -13px;
  left: 13px;
  background-color: var(--font-color-green);
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  color: var(--font-color-white);
  font-size: calc(var(--font-size-micro) * 0.8);
}

#navBarAndTopInfo .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-upDown) var(--padding-side);
}

#navBarAndTopInfo .navBar .logo {
  display: inline;
  width: 30%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: var(--font-size-large);
}

#navBarAndTopInfo .navBar .logo h1 {
  padding-left: 10%;
}

#navBarAndTopInfo .navBar .navBarList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-micro);
}

#navBarAndTopInfo .navBar .navBarList li {
  padding: 0 3%;
  text-align: center;
}

#navBarAndTopInfo .navBar .navBarList li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* saleInfo */
#saleInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: url(https://cdn.pixabay.com/photo/2016/11/29/06/16/apple-1867752_960_720.jpg);
  background-size: cover;
}

#saleInfo .infos {
  margin: 8%;
  background-color: var(--font-color-transparent-black);
  padding: 20px;
  border-radius: 5px;
}

#saleInfo .infos span {
  color: var(--font-color-yellow);
  font-size: 18px;
}

#saleInfo .infos h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: var(--font-color-white);
  letter-spacing: 8px;
  text-shadow: 10px 0 var(--font-color-black);
}

#saleInfo .infos p {
  color: var(--font-color-white);
  letter-spacing: 1px;
}

#saleInfo .infos .shopLink {
  display: flex;
  justify-content: center;
}

#saleInfo .infos .shopLink .goToShop {
  padding: 16px 30px;
  background-color: var(--font-color-transparent-black);
  color: var(--font-color-white);
  border: 2px solid var(--font-color-black);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

#saleInfo .infos .shopLink .goToShop:hover {
  border: 2px solid var(--font-color-transparent-grey);
}

/* frontImgs */
#frontImgs {
  display: flex;
  padding: 50px 50px;
  max-width: 1280px;
  margin: auto;
}

#frontImgs .img {
  padding: 10px;
  transition: all 0.3s ease;
}

#frontImgs .img:hover {
  transform: scale(1.1);
  filter: brightness(1.25);
}

#frontImgs .img img {
  width: 100%;
}

/* newarrivals */
#newarrivals {
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}

#newarrivals .title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#newarrivals .title h1 {
  margin: 10px 0;
}

#newarrivals .title li .bar {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: auto;
}

#newarrivals .items {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#newarrivals .items li {
  max-width: 20%;
  padding: 0px 5px;
  position: relative;
  text-align: center;
  border: 1px solid var(--font-color-transparent-grey);
}

#newarrivals .items img {
  width: 100%;
  height: auto;
}

#newarrivals .items h3 {
  margin: 0 0 10px;
}

#newarrivals .items span {
  display: block;
  margin: 0 0 10px;
}

#newarrivals .items a:hover h3,
#newarrivals .items a:hover span {
  text-decoration: underline;
}

#newarrivals .items .addToCart {
  text-transform: uppercase;
  color: var(--font-color-green);
  font-weight: 600;
}

#newarrivals .items .addToCart:hover {
  color: var(--font-color-black);
  text-decoration: underline;
}

#newarrivals .items .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--font-color-green);
  color: var(--font-color-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* topCollection */
#topCollection {
  width: 100%;
  height: 40vh;
  background: no-repeat url(./imgs/iphone-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#topCollection .textAndBtn {
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color-white);
  font-size: var(--font-size-large);
}

#topCollection .textAndBtn h5 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: calc(var(--padding-side) * 1.5) 0;
  line-height: 100%;
}

#topCollection .textAndBtn h2 {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: calc(var(--padding-side) * 1.5) 0 calc(var(--padding-upDown) * 1.5);
  line-height: 100%;
}

#topCollection .textAndBtn a {
  background-color: var(--font-color-transparent-black);
  padding: var(--padding-side) calc(var(--padding-upDown) * 1.5);
  font-size: var(--font-size-small);
  color: var(--font-color-white);
  font-weight: 300;
  letter-spacing: 1px;
  border: 1px solid var(--font-color-black);
  transition: all 0.3s ease;
  border-radius: 4px;
}

#topCollection .textAndBtn a:hover {
  background-color: var(--font-color-black);
}

#topCollection .textAndBtn h5 footer .blank {
  height: 1000px;
}

/* latestNews */
#latestNews .blank {
  height: 30vh;
  background-color: var(--font-color-white);
}

/* footer */
footer .blank {
  height: 30vh;
  background-color: var(--font-color-black);
}
